# Gradle files
.gradle/
build/
*/build/
**/build/

# Local configuration files
local.properties
.idea/
*.iml

# Android Studio specific files
*.log
*.hprof

# User-specific files
*.swp
*~
.DS_Store

# NDK
obj/

# Gradle Wrapper
gradle-wrapper.jar
gradle-wrapper.properties

# Keystore files
*.jks
*.keystore

# Android files
*.apk
*.ap_

# Proguard
proguard-project.txt

# Firebase
google-services.json

# Android Device Cache
/caches/

# lint reports
lint-report.xml
